[attr]rust text eol=lf whitespace=tab-in-indent,trailing-space,tabwidth=4

* text=auto eol=lf
*.cs csharp
*.htm linguist-language=csharp
*.htm linguist-language=csharp
*.ts linguist-language=TypeScript
*.fixed linguist-language=Rust
src/etc/installer/gfx/* binary
*.woff binary


# Older git versions try to fix line endings on images, this prevents it.
*.png binary
*.ico binary