<div>
    <div class="row">
        <div class="col-xs-12" style="margin-left: 15px;">
            <input type="checkbox" [(ngModel)]="onlyApproved" (change)="onFilterChange()" /> Показывать только неутвержденные
        </div>
    </div>
  <br />

  <div class="main-page startup" infinite-scroll [fromRoot]="true" [infiniteScrollDistance]="0.1"
  [infiniteScrollThrottle]="300" (scrolled)="onScrollDown()">

  <div class="social-feed-box" *ngFor="let reply of replies">
      <div class="row">
        <div class="col-xs-12">
          <div class="social-body">
            <h3>{{reply.title}}</h3>
            <h4 *ngIf="reply.club">{{reply.club.name}}</h4>
            <h4 *ngIf="reply.player">{{reply.player.lastName}} {{reply.player.firstName}}</h4>
            <p class="reply-body" [innerHtml]="reply.text">
            </p>
            <div class="pull-left control-panel">
              <button class="btn btn-primary" (click)="approve(reply)" *ngIf="!reply.isApproved">
                Утвердить
              </button>
              <button class="btn btn-warning" (click)="disapprove(reply)" *ngIf="reply.isApproved">
                Снять с уверждения
              </button>
              <button class="btn btn-danger" (click)="remove(reply)">
                Удалить
              </button>
              <button class="btn btn-info" (click)="setAnonymousAvatar(reply)">
                Удалить аватар
              </button>
            </div>
          </div>
        </div>
      </div>
      <hr />
    </div>


</div>

