<div class="clubs" *ngIf="clubGroups">
  <div *ngFor="let clubGroup of clubGroups">
    <h2>
      <i class="fa fa-futbol-o" aria-hidden="true"></i>&nbsp;{{ getLeagueName(clubGroup.LeagueId) }}
    </h2>
    <hr />
    <div class="row" style="margin-left: 10px;">
      <div class="col-xs-12 col-lg-4 col-md-4" *ngFor="let club of clubGroup.Clubs">
        <div class="row player-card">
          <div class="col-xs-12 text-left">
            <a [routerLink]="['/club', club.urlName]">
              {{club.name}}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<global-spinner *ngIf="isBusy"></global-spinner>