<div class="social-comment" #createreply>
  <div class="row">
    <div class="col-xs-12">
      <h3>Ответить на сообщение</h3>
      <div class="unapproved" *ngIf="isUnapproved">
          Ваше сообщение показалось слишком подозрительным. Мы добавим его после модерации
      </div>
      <input type="text" class="form-control user-name-control" 
          style="margin-bottom: 10px;width: 20em; font-size: 17px;margin-right: 0px;" 
          placeholder="Ваше имя"
          [(ngModel)]="userName"
          (keyup)="userChanged()" />
      <textarea class="form-control" placeholder="Напишите ваш комментарий" [(ngModel)]="model.text"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary pull-right" (click)="save()" *ngIf="!userName"  [disabled]="isBusy">
        <i class="fa fa-check" aria-hidden="true"></i>&nbsp;&nbsp;Отправить анонимно
      </button>
      <button class="btn btn-primary pull-right" (click)="save()" *ngIf="userName"  [disabled]="isBusy">
        <i class="fa fa-check" aria-hidden="true"></i>&nbsp;&nbsp;Отправить от имени «{{userName}}» 
      </button>
    </div>
  </div>
</div>